<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ConnString" connectionString="Server=localhost;Port=3306; Database=traindb;User Id=root;password=feiw; character set=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <modules>
      <add name="HttpModule" type="TrainByThreeTier.Common.HttpModule, TrainByThreeTier" />
    </modules>
  </system.webServer>
</configuration>
